<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/show-products.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('../includes/navbar.ejs') %>
    
    <br><br><br>
    
    <main>
        <h1>Products List</h1>
        <div class="product-grid">
            <% if (prods.length === 0) { %>
                <p>No products found.</p>
            <% } else { for (let product of prods) {%>
                <div class="product">
                        <h2><%=product.title%></h2>
                        <img src="<%=product.imageUrl%>" alt="<%=product.title%> image">
                        <p>Price: $<%=product.price%></p>
                        <p>Description: <%=product.description%></p>
                        <p>Quantity: <%=product.quantity%></p>
                        <div style="text-align: center;">
                            <form action="/shop/cart/add-to-cart/<%=product.id%>" method="GET" style="display: inline;">
                                <button type="submit">Add to Cart</button>
                            </form>
                            <form action="/shop/product-details/<%=product.id%>" method="GET" style="display: inline;">
                                <button type="submit">Show Details</button>
                            </form>
                        </div>
                </div>
                <% } %>
            <% } %>
        </div>
    </main>
</body>
</html>
