
<main>
    <h2>Products list</h2>
    <div class="product-grid">
        {{#if prods.length}}
            {{#each prods}}
                <div class="product">
                    <h2>{{this.title}}</h2>
                    <img src="https://thehouseofrare.com/cdn/shop/files/MANO-WHITE00346_480x.jpg?v=1719486109}}" alt="{{this.title}} image">
                    <p>Price: ${{this.price}}</p>
                    <p>Description: {{this.description}}</p>
                    <p>Quantity: {{this.quantity}}</p>
                    <button>Add to Cart</button>
                </div>
            {{/each}}
        {{else}}
            <p>No products found</p>
        {{/if}}
    </div>
</main>